.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.formsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Add spacing between the forms */
}