
.formsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

.AuthPage {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0.5vw;
  padding: 0;
}

@keyframes floating {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

.discount {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    animation: floating 2s infinite;
    color: rgb(227, 31, 31);
    font-size: 1.2vw;
    align-items: center;
    margin-left: 5.0vw;
    margin-top: -0.2rem; 
}

.authContainer{
  margin-left: 5vw;
}