.MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 1vmin;

  .image {
    max-height: 20vmin;
    max-width: 20vmin;
  }

  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vmin;

    .type {
      font-size: 1.5vw;
      text-align: center;
      color: var(--text-light);

    }

    .name {
      font-size: 1.5vw;
      text-align: center;
      color: var(--text-light);

    }

    .manufacturer {
      font-size: 1.0vw;
      text-align: center;
      color: var(--text-light);

      white-space: pre-wrap;
      text-decoration: none;
    }
  }

  .buy {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-size: 1.7vw;
      text-align: center;
      color: var(--text-light);

    }
  }

  .link {
    text-decoration: none;
    color: rgb(65, 158, 240);
  }
}

.link:hover {
  text-decoration: none;
  color: rgb(59, 230, 59);
}



