.CategoryList {
    color: goldenrod;
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
   
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    color: maroon;
    }
    
    .CategoryList li.active {
    color: maroon;
    border: .1vmin solid var(--tan-3);
    }